[Desktop Entry]
Name=Oxide Test Browser
Comment=Oxide Test Browser
Exec=/usr/bin/qmlscene oxide-test-browser.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
